name: Continuous Deployment for covid-19 tracker app
on: [push]

jobs:
    deploy:
          runs-on: ubuntu-latest
          steps:
              - uses: actions/checkout@v2

              - run: echo "Settings up nodejs"
              - name: Setup nodeJs
                uses: actions/setup-node@v1
                with:
                  node-module: 12.x
              - uses: borales/actions-yarn@v2.0.0
                with:
                  cmd: install
              
              - name: Build React App
                run : sudo yarn build

              - name: Install Surge
              
              - run: yarn add -g surge.

              - run: echo "Deploying websites"
              - run: surge ./build covid19TrackerApp.surge.sh --token ${{ secrets.SURGE_TOKEN }}
