name: Continuous Deployment for covid-19 tracker app
on: [push]

jobs:
    deploy:
          runs-on: ubuntu-latest
          steps:
              - uses: actions/checkout@v2

              - run: echo "Settings up nodejs"
              - name: Setup nodeJs
                uses: actions/setup-node@v1
                with:
                  node-module: 12.x
              
              - run: npm install -g surge
              - run: echo "Deploying websites"
              - run: surge ./ ${{ secrets.SURGE_DOMAIN }} --token ${{ secrets.SURGE_TOKEN }}

              - run: echo "please visit => ${{secrets.SURGE_DOMAIN}}"

